<!DOCTYPE HTML>
<!--
  Copyright 2017 Prakash Vaithilingam

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Link Shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Link Shortener</h1>
        <p class="lead">Demo application for  Url link shortner.</p>
        <p>The code is open source at <a href="https://bitbucket.org/prakashnsm/link-shortener/src">Bitbuket</a>.</p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Remote Ip - accessed from</th>
                        <th>Date and Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="activity : ${activities}">
                    	<td th:text="${activity.id}"></td>
                    	<td th:text="${activity.clientIp}"></td>
                        <td th:text="${activity.accessDate}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>